[submodule "lib/kitty"]
	path = lib/kitty
	url = https://github.com/msoeken/kitty
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/lsils/mockturtle
[submodule "lib/bill"]
	path = lib/bill
	url = https://github.com/lsils/bill
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "lib/readcells"]
	path = lib/readcells
	url = ../../mvg/readcells.git
