[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice
[submodule "lib/kitty"]
	path = lib/kitty
	url = https://github.com/msoeken/kitty
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/lsils/mockturtle
[submodule "lib/bill"]
	path = lib/bill
	url = https://github.com/lsils/bill
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "test/data/gate/parser/graphml/OpenABC"]
	path = test/data/gate/parser/graphml/OpenABC
	url = https://github.com/ispras/OpenABC
[submodule "lib/readcells"]
	path = lib/readcells
	url = ../../mvg/readcells.git
